<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">RecetArreWeb</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="categorias">
                        <span class="bi bi-grid-fill" aria-hidden="true"></span> Categorías
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="ingredientes">
                        <span class="bi bi-basket" aria-hidden="true"></span> Ingredientes
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="recetas">
                        <span class="bi bi-book" aria-hidden="true"></span> Recetas
                    </NavLink>
                </div>


                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="ranking">
                        <span class="bi bi-book" aria-hidden="true"></span> Ranking
                    </NavLink>
                </div>

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="counter">
                        <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="weather">
                        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>

        <AuthorizeView>
            <NotAuthorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="login">
                        <span class="bi bi-box-arrow-in-right" aria-hidden="true"></span> Login
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="registro">
                        <span class="bi bi-person-plus" aria-hidden="true"></span> Registro
                    </NavLink>
                </div>
            </NotAuthorized>
            <Authorized>
                <div class="nav-item px-3">
                    <div class="nav-link text-muted small">
                        <span class="bi bi-person-circle"></span> @context.User.Identity?.Name
                    </div>
                </div>
                <div class="nav-item px-3">
                    <button class="nav-link btn btn-link" @onclick="Logout">
                        <span class="bi bi-box-arrow-left" aria-hidden="true"></span> Cerrar Sesión
                    </button>
                </div>
            </Authorized>
        </AuthorizeView>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    [Inject]
    private IAuthService authService { get; set; } = default!;

    [Inject]
    private AuthenticationStateProvider authStateProvider { get; set; } = default!;

    [Inject]
    private NavigationManager navigation { get; set; } = default!;

    private async Task Logout()
    {
        await authService.Logout();
        
        var authProvider = (AuthStateProvider)authStateProvider;
        authProvider.NotificarLogout();
        
        navigation.NavigateTo("/login");
    }
}
